# Created by .ignore support plugin (hsz.mobi)
### Example user template template
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
mvn.eclipse.sh
mvn.install.sh
.svn/
target/
deploy/db
.idea
*_res.yaml
cache

*.log
*.log.*
#*.class

#Mobile Tools for Java(J2ME)
.mtj.tmp/

#Package Files
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
out
*.class
target
#deploy/db/config
test-output/

#virtual machine crash logs, see http://www.java.com/en/download/help/eror_hotspot.xml
hs_err_pid*

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

#Eclipse Core
.project

#External tool builders
.externalToolBuilders/

#Locally stored "Eclipse lanuch configurations"
*.launch

#PyDev specific(Python IDE for Eclipse)
.pydevproject

#CDT-specific(C/C++ Development Tooling)
.cproject

#JDT-specific(Eclipse java Development Tools)
.classpath

#Java annotation processor(APT)
.factorypath

#PDT-specific(PHP Development Tools)
.buildpath

#sbteclipse plugin
.target

#Tern plugin
.tern-project

#TeXlipse plugin
.texlipse

#STS(Spring Tool Suite)
.springBeans

#Code Recommenders
.recommenders/

#User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

#Sensitive or high-churn files:
.idea/dataSoruces.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

#Gradle
.idea/gradle.xml
.idea/libraries

#Mongo Explorer plugin:
.idea/mongoSettings.xml

#File-based project format:
#*.iws

#Intellij
/out/
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/libraries/*.xml
.idea/inspectionProfiles
#.idea/*

#mpeltonen/sbt-idea plugin
.idea_modules/

#JIRA plugin
atlassian-ide-plugin.xml

#Crashlytics plugin(for Android Studio and Intellij)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.gitignore
.idea/inspectionProfiles/
.idea/libraries/Maven__com_alibaba_fastjson_1_2_56.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_2_0.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_guava_guava_27_1_jre.xml
.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_7.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_11.xml
.idea/libraries/Maven__org_checkerframework_checker_qual_2_5_2.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_17.xml
.idea/libraries/Maven__org_mybatis_mybatis_3_5_0.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_2_0_0.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_26.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_5_1_5_RELEASE.xml
Framework.iml
